aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
-e git+https://github.com/Rapptz/discord.py.git@e473f3c775b26a4bb54b18eb6240757306f4f5c1#egg=discord.py
idna==2.9
idna-ssl==1.1.0
importlib-metadata==1.6.0
more-itertools==8.2.0
multidict==4.7.5
packaging==20.3
pluggy==0.13.1
prettytable==0.7.2
py==1.8.1
pyparsing==2.4.7
pytest==5.4.1
redis==3.4.1
requests==2.23.0
six==1.14.0
soupsieve==1.9.5
typing-extensions==3.7.4.2
urllib3==1.25.9
wcwidth==0.1.9
websockets==8.0.2
yarl==1.4.2
zipp==3.1.0
